# This isn't currently the default in Bazel, but we enable it to test we'll be ready if/when it flips.
build --incompatible_disallow_empty_glob

# https://github.com/bazelbuild/bazel/issues/23043.
build --incompatible_autoload_externally=

# in optimized build we will use thin lto
common:opt -c opt
common:opt --@rules_rust//rust/settings:lto=thin
